@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&family=Chivo:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  border: 1px solid #f1f1f1;
  width: 760px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  backdrop-filter: blur(100px) brightness(200%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  top: 50%;
  left: 50%;
  margin: 370px 0 0 -380px;
  position: absolute;
  position: fixed;
}

#dark nav {
  backdrop-filter: brightness(300%) blur(15px) grayscale(50%);
}

.nav-links {
  max-width: 700px;
  width: 100%;
  margin: 0 0%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
