* {
  margin: 0;
  padding: 0;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  backdrop-filter: brightness(130%) blur(15px) grayscale(50%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(135, 135, 135, 0.15) 70%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

#dark nav {
  backdrop-filter: brightness(300%) blur(15px) grayscale(50%);
}

.nav-links {
  max-width: 800px;
  width: 100%;
  margin: 0 15%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
