@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&family=Chivo:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.flex {
  justify-content: space-around;
}

nav {
  width: 700px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  backdrop-filter: brightness(170%) blur(15px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 9vh;
  left: 25%;
  right: 25%;
  bottom: 0;
  position: fixed;
}

#dark nav {
  backdrop-filter: brightness(300%) blur(15px) grayscale(50%);
}

.nav-links {
  max-width: 700px;
  width: 100%;
  margin: 0 15%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}
