* {
  margin: 0;
  padding: 0;
}

h1{
  padding-bottom: 0;
}


.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
}
.item {
  list-style: none;
}

.tools {
  display: flex; 
  list-style: none; 
  padding: 0; 
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tool {
  padding: 2px 5px;
  margin-right: 10px; 
  margin-bottom: 10px;
  border-radius: 5px;
  background: #ffffff;
  color: #898989;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
