@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&family=Chivo:wght@700&display=swap");

* {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html{
  background-color: #f8f8f8;
  color: #f8f8f8;
}

body {
  background-color: #f8f8f8;
  background-attachment: fixed;
  font-family:  "Barlow", "Inter", Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

#wrapper {
	min-width: 100vw;
	background-color:#f8f8f8;
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 8rem;
}

.text-block {
  width: 600px;
}

.line {
  margin-bottom: 2rem;
  max-width: auto;
  height: 1px;
  background: #f1f1f1;
}
.line-projects {
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: auto;
  height: 1px;
  background: #f1f1f1;
}

.line-footer {
  margin-top: 10rem;
  max-width: auto;
  height: 1px;
  background-color: #898989;
}

h1,
p {
  text-align: left;
  white-space: pre-line;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  color: #272727;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.008em;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #272727;
}

a {
  text-decoration: none;
  
  letter-spacing: 0.003em;
  word-spacing: 0.05rem;
  font-weight: 400;
}

p {
  font-size: 12pt ;
  padding-bottom: 2rem;
  line-height: 2;
  letter-spacing: 0.003em;
  word-spacing: 0.05rem;
  color: #898989;
  text-align: start;
}

.video{
  height: 100%;
  border-radius: 15px;
}

.video-container{
  height:330px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

li {
  list-style: none;
}

::selection {
  background-color: #f1ffba;
}

.link {
  text-decoration: none;
  color: #19a0fc;
  font-size: 12pt ;
  font-weight: 500;
}

.socials {
  line-height: 1.62;
}

.add-info {
  color: #bdbdbd;
  letter-spacing: 0.008em;
}

.day-date {
  padding-bottom: 0.6rem;
  color: #bdbdbd;
  letter-spacing: 0.008em;
}

.item-work :hover {
  cursor: pointer;
  margin-left: -1rem;
  padding-left: 1rem;
  margin-right: -1rem;
  padding-right: 1rem;
  background-color: #efefef;
  transition: background-color ease-out 0.2s;
  border-radius: 0.5rem;
}

.header-image {
  margin-bottom: 1.25rem;
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.spacer {
  font-weight: 300;
  margin-bottom: -0.5rem;
  font-size: 1.25rem;
  color: #bdbdbd;
}

.footnote {
  font-size: 14px;
  color: #bdbdbd;
  padding-bottom: 0.1rem;
}

.footnote-container{
  margin-bottom: 2rem;
}


svg{
  margin-top: -1.3rem;
  margin-bottom: 2rem;
}

path {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
  animation: signatureAnimation 4s ease-in-out forwards;
}

.bottom-work{
  margin-bottom: 5rem;
}

@keyframes signatureAnimation {
  to{
  stroke-dashoffset: 0px;
  }
}