@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap");

* {
  font-family: "Barlow", "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: #f8f8f8;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.text-block {
  max-width: 800px;
  height: 130vh;
}

.line {
  margin-bottom: 2rem;
  height: 1px;
  background: #f1f1f1;
}

h1,
p {
  text-align: left;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #272727;
}

p {
  padding-bottom: 2rem;
  line-height: 1.62;
  letter-spacing: 0.005em;
  color: #898989;
}

.link {
  text-decoration: none;
  color: #19a0fc;
  font-weight: 500;
}

.item-work :hover {
  cursor: pointer;
  margin-left: -1rem;
  padding-left: 1rem;
  margin-right: -1rem;
  padding-right: 1rem;
  background-color: #f1f1f1;
  transition: background-color ease-out 0.2s;
  border-radius: 0.75rem;
}
