@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&display=swap");

* {
  font-family: "Barlow", "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

#light body {
  background-color: #f8f8f8;
}

#dark body {
  background-color: #272727;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-top: 4rem;
}

.text-block {
  max-width: 800px;
  min-height: 100vh;
  margin-bottom: 15vh;
}

.line {
  margin-bottom: 2rem;
  height: 1px;
  background: #f1f1f1;
}

#dark .line {
  background: #d0d0d0;
}

h1,
p {
  text-align: left;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 2rem;
  color: #272727;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #272727;
}

#dark h1 {
  color: #d0d0d0;
}

p {
  padding-bottom: 2rem;
  line-height: 1.62;
  letter-spacing: 0.005em;
  color: #898989;
}

.link {
  text-decoration: none;
  color: #19a0fc;
  font-weight: 500;
}

.socials {
  line-height: 1.62;
}

.add-info {
  color: #bdbdbd;
  letter-spacing: 0.008em;
}

.item-work :hover {
  cursor: pointer;
  margin-left: -1rem;
  padding-left: 1rem;
  margin-right: -1rem;
  padding-right: 1rem;
  background-color: #f1f1f1;
  transition: background-color ease-out 0.2s;
  border-radius: 0.75rem;
}

.draggable {
  display: flex;
  position: absolute;
  justify-content: space-around;
  cursor: grab;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  backdrop-filter: brightness(130%) blur(15px) grayscale(50%);
  background: #f1f1f1 0.01;
  color: #898989;
  width: 150px;
  border-radius: 50px;
  padding: 0.75em;
  margin: auto;
  user-select: none;
  z-index: 100;
}

.draggable-item {
  text-align: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style: none;
}
